@{
    ViewBag.Title = "Students";
}

@model IEnumerable<GetStudents.Models.Students>
<center><h3 style="color:darkseagreen;background-color:aliceblue">@ViewBag.Message</h3></center>
<div class="container">
    <table class="table table-bordered" style="text-align:center">
        <thead>
            <tr>
                <th  style="text-align:center">STUDENT NO</th>
                <th  style="text-align:center">STUDENT FULL NAME</th>
                <th  style="text-align:center">STUDENT CLASS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.StudentNo</td>
                    <td>@student.StudentFullName</td>
                    <td>@student.Class</td>
                </tr>
            }
        </tbody>
    </table>
</div>
